/* IMPORTS */
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap');
/* IMPORTS */


#main{
  display: flex;
  justify-content: center;
  max-width: 1250px;
  width: auto;
  margin: 0 auto;
  margin-top: 100px;
}


/* CONTENT-MAIN */

  #headContentMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  #headContentMain1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 53px;
  }

  #logo{
    width: 14vw;
    max-width: 100px;
  }

  #contentMainTitle{
    font-family: 'Titillium Web', sans-serif;
    font-size: 11vw;
    margin-left: 5%;
    white-space: nowrap;
  }

  #contentWorks{
    font-size: 5vw;
    margin: 0 50px;
  }

  .workItens{
    margin-bottom: 5vw;
  }


/* CONTENT-MAIN */

/* CONTACT-MAIN */
  #contactMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 70px;
  }

  #contactMainh2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 9vw;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }

  #contactBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    font-family: 'Open Sans', sans-serif;
  }

  #contactBox > div > p{
    margin-bottom: 10px;
    font-size: 5vw;
  }

  #kelson{
    width: 80vw;
    max-width: 400px;
    height: 50vw;
    max-height: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #rafael{
    width: 80vw;
    max-width: 400px;
    height: 50vw;
    max-height: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
/* CONTACT-MAIN */


@media(min-width: 460px){
  #contentWorks{
    font-size: 25px;
  }

  #contactMainh2{
    font-size: 50px;
  }
  #contactBox > div > p{
    font-size: 25px;
  }
}

@media(min-width: 666px) {
  #contentMainTitle{
    font-size: 75px;
  }
}

@media(min-width: 850px) {
  .workItens{
    margin-bottom: 50px;
  }

}